@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}
.wrapper{
	width:1000px;
	height:auto;
	border:1px solid #000;
	margin:auto;
}
.tieude{
	width:auto;
	height:40px;
	background:#9F0;
	font-size:20px;
	text-align:center;
	padding:5px;
	color:#F00;
	line-height:40px;
}
.header {
	width:100%;
	height:250px;
	border:1px solid #000;
}
.menu {
	width:100%;
	height:30px;
	border:1px solid #000;
}
.menu ul{
	width:100%;
	height:30px;
	list-style:none;
}
.menu ul li {
	float:left;
	line-height:30px;
	margin-left:20px;
}
.menu ul li a{
	color:#000;
	text-decoration:none;	
}
.menu a hover{
	background:#9F0;
}
.content{
	width:100%;
	height:auto;
	border:1px solid #000;
}
.left{
	width:28%;
	height:auto;
	border:1px solid #D9D9D9;
	float:left;
	margin-top:2px;
}
.danhsachsanpham ul{
	width:100%;
	height:auto;
	list-style:none;
}
.danhsachsanpham ul li{
	width:auto;
	height:20px;
	padding-left:10px;
	padding-top:5px;
	background:#F2F2F2;
}
.danhsachsanpham ul li a{
	text-decoration:none;
	color:#000;
	display:block;
}
.danhsachsanpham a:hover{
	background:#9F0;
}
.right{
	width:71%;
	height:auto;
	border:1px solid #D9D9D9;
	float:right;
	margin-top:2px;
}
.sanphamall ul{
	list-style:none;
	width:98%;
	height:auto;
	margin:auto;
}
.sanphamall ul li{
	width:217px;
	height:auto;
	text-align:center;
	padding-top:20px;
	float:left;
	margin:5px;
}
.sanphamall ul li a{
	text-decoration:none;
}
.clr {
	clear:both;
}
.footer {
	width:100%;
	height:80px;
	border:1px solid #000;
}
.searchform {
	margin-top: 5px;
	float:right;
}
